layout {
    gaps 8
    center-focused-column "never"

    background-color "transparent"

    preset-column-widths {
        proportion 0.25
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
        proportion 0.75
    }

    default-column-width { proportion 0.5; }

    focus-ring {
        // off
        width 2
        // active-color "#7fc8ff"
        active-gradient from="#003566" to="#ffd60a" angle=30 relative-to="workspace-view"
        // inactive-color "#505050"
        // inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
    }
    border {
        off
    }

    insert-hint {
        // off
        gradient from="#00356600" to="#ffd60aAA" angle=30
    }

    tab-indicator {
        width 8
        gap 8
        length total-proportion=1.0
        position "top"
        place-within-column
        active-gradient from="#003566" to="#ffd60a" angle=30 relative-to="workspace-view"
    }

    shadow {
        // on
        off
        // draw-behind-window true
        // softness 30
        // spread 5
        // offset x=0 y=5
        // color "#0007"
    }

    struts {
        // left 8
        // right 8
        // top 8
        bottom 0
    }
}