// workspace "1"
workspace " "
workspace "󱕱 "
workspace "󱎓 "
// workspace " "
// workspace " "
// workspace "󱎓 "

//
// Common
//
window-rule {
    draw-border-with-background false
    clip-to-geometry true
    geometry-corner-radius 16
    tiled-state true
}
// Blur
window-rule {
    match app-id="Alacritty"
    match app-id="code"
    background-effect {
        xray true
        blur true
    }
}
// Width 1/3
window-rule {
    match app-id="code"
    match app-id="org.gnome.Nautilus"
    match app-id="org.pulseaudio.pavucontrol"
    match app-id="VirtualBox Manager"
    match app-id="libreoffice-writer"
    default-column-width { proportion 0.33333; }
}
// Width 2/3
window-rule {
}
// Height 1/2
window-rule {
    match app-id="^org.gnome.Nautilus$"
    match app-id="^org.pulseaudio.pavucontrol$"
    match app-id="Alacritty"
    default-window-height { proportion 0.5; }
    default-column-display "normal"
}
// Screencast indicator
window-rule {
    match is-window-cast-target=true

    shadow {
        on
        color "#ff0000"
    }

    tab-indicator {
        active-color "#ff0000"
        inactive-color "#ff00007e"
    }
}
// Screencast block
window-rule {
    match app-id="org.telegram.desktop"
    match app-id="md.obsidian.Obsidian"
    block-out-from "screencast"
}

//
// Custom
//
// Telegram
window-rule {
    match app-id="org.telegram.desktop"
    default-column-width { fixed 512; }
}
// Remmina 
window-rule {
    match app-id="^org.remmina.Remmina$"
    default-column-width { proportion 0.66667; }
}
// Remmina - Chose
window-rule {
    match app-id="^org.remmina.Remmina$" title="Клиент удалённого рабочего стола Remmina"
    default-column-width { proportion 0.33333; }
    default-window-height { proportion 0.5; }
}
// Yandex Browser
window-rule {
    match app-id="^yandex-browser$"
    default-column-width { proportion 0.66667; }
    open-on-workspace " "
}
// Yandex Browser - YouTube
window-rule {
    match title=" - YouTube$"
    open-floating true
    open-focused false
    default-floating-position x=10 y=10 relative-to="top"
    default-column-width { proportion 0.33333; }
    default-window-height { proportion 0.5; }
}
// Steam
window-rule {
    match app-id="steam"
    match app-id="dota2"
    open-on-workspace "󱎓 "
}
// Steam - friend list
window-rule {
    match app-id="steam" title="Список друзей"
    // default-window-height { fixed 692; }
    default-column-width { fixed 449; }
}
// Telegram
window-rule {
    match app-id="org.telegram.desktop"
    open-on-workspace "󱕱 "
}
// Discord
window-rule {
    match app-id="discord"
    open-on-workspace "󱕱 "
    default-column-width { proportion 0.33333; }
}

// 
// Windows
// 
// Example
window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
}
// Example
window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}
// // Steam popups
// window-rule {
//     match app-id="steam" title=r#"^notificationtoasts_\d+_desktop$"#
//     default-floating-position x=10 y=10 relative-to="bottom-right"
// }

//
// Layers
// 
// Notifications
layer-rule {
    match namespace="notifications"
    opacity 0.999
    block-out-from "screencast"
    geometry-corner-radius 52
    place-within-backdrop true
    popups {
        geometry-corner-radius 52
    }
    background-effect {
        blur true
        xray false
    }
}
// Launcher
layer-rule {
    match namespace="^launcher$"
    background-effect {
        blur true
        xray false
    }
}
// Wallpaper
layer-rule {
    match namespace="wallpaper"
    match namespace="awww-daemon"
    place-within-backdrop true
}
// Waybar
layer-rule {
    match namespace="waybar"
}
